.image{
    height: 60vh;
    width: 80%;
    margin: 50px auto;
    background: indigo;

    /* border-image */
    border-image-source: url("../utils/background-images/border.avif");
    border-image-outset: 35px;
    border-image-repeat: round repeat;
    border-image-slice: 25%;
    border-image-width: 25px;
}

.image-2{
    height: 400px;
    width: 80%;
    margin: 50px auto;
    background: radial-gradient(circle,green, yellow,violet);

    /* background: indigo; */

    /* border-image */
    border-image-source: url("../utils/background-images/flowers.png");
    border-image-outset: 20px;
    border-image-repeat: round repeat;
    border-image-slice: 15%;
    border-image-width: 20px;
}

/* Text */
.text{
    background: linear-gradient(to left bottom,brown,blue,black);
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
    font-weight: 900;
    background-clip: text;
    color: transparent;
    /* margin-bottom: 50px; */
    padding: 40px;
}

/* text-2 */
.text2{
    background: linear-gradient(to top right, grey,indigo,green);
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-clip: text;
    color: transparent;
}


