#box{
    margin: 40px 35%;
    width: 300px;
    height: 500px;
    box-shadow: 20px 20px 10px 10px grey;
    /* box shadow= x-axis, y-axis, blur-radius, spread-radius, colour */
}
#drop{
     margin: 40px 35%;
    width: 300px;
    height: 500px;
    filter: drop-shadow(10px 10px 2px grey);
    /* drop shadow= x-axis, y-axis, blur-radius, colour*/

}
.text-shadow{
    text-align: center;
}
.text-shadow>h1{
    text-shadow: 15px 18px 2px cyan;
    /* text shadow= x-axis, y-axis, blur-radius, colour*/

    text-transform: capitalize;
}