

/* Flex css */

.container{
    height: 80vh;
    border: 1px solid red;
    display: flex;
    line-height: 150px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    /* for y axis; */
    align-items: center;
    /* for x axis; */
    justify-content: space-evenly;
    /* direction */
    flex-direction: row-reverse;
}
.box{
    height: 150px;
    width: 150px;
    background: teal;
}

/* Grid css */

.grid{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'child_6 child_5 child_3'
    'child_1 child_2 child_4';
    justify-items: center;
    align-items: center;
    line-height: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.gbox{
    height:200px;
    width:200px;
}
.child-11{
    grid-area: child_1;
    background: red;
}
.child-22{
    grid-area: child_2;
background: cyan;
}
.child-33{
    grid-area: child_3;
    background: purple;
}
.child-44{
    grid-area: child_4;
    background: navy;
}
.child-55{
    grid-area: child_5;
    background: yellow;
}
.child-66{
    grid-area: child_6;
    background: tan;
}