.parents{
    border: 2px solid greenyellow;
    height:500px;
    position: relative;
    margin: 100px 0;
}
.child{
    border: 2px dotted gray;
    height: 200px;
    margin: 300px 0;
    width: 100%;
    position: absolute;
}